@media(max-width:768px){

.navbar{

    flex-direction:column;

    padding:20px;

}

nav ul{

    flex-direction:column;

    margin-top:20px;

}

nav li{

    margin:12px 0;

}

.hero h1{

    font-size:38px;

}

.hero p{

    font-size:18px;

}

.hero-button{

    flex-direction:column;

}

.lesson{

    padding:40px 20px;

}

}